/* Global */

html {
  background-color: #3f94a1;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Animations */

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* Grid */

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}
/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Didact Gothic', sans-serif;
}

/* Body, Container, Header, Aside, and Main Styles */

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  color: #808080;
  letter-spacing: 0.0325em;
  font-weight: 300;
}

.container {
  height: 100vh;
  margin-right: -8px;
  margin-left: -8px;
  display: grid;
  grid-template-columns: 80px 10fr;
  grid-template-areas:
    "header header"
    "aside main";
  background-color: #3f94a1;
}
.main {
    display: flex;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.header {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 10px;
  margin-right: 10px;
}
.dashboard:hover {
  opacity: .4;
  transition: all .5s;
}
.appName {
  color: #fff;
  font-size: 1.2em;
  font-weight: 100;
}
.trademark {
  color: #fff;
  font-size: 1em;
  font-weight: 100;
}
.aside {
  background-color: #3dba98;
}
.traffic-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.daily-traffic, .mobile-users {
  margin: 20px;
  width: 50%;
}
.daily-traffic-container {
  position: relative;
  height: 160px;
  width: 40vw;
}
.traffic-stats {
  display: flex;
}

/* Navigation */

.asideIcons {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: -40px;
}
.asideIcons li {
  padding-bottom: 10px;
}
.userPhoto {
  border-radius: 50%;
  max-width: 30%;
  margin-right: 10px;
}
nav.menu {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
nav .bell {
  padding-right: 10px;
  margin-right: -80px;
}
.headerNav-left {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: -40px;
}
.headerNav-right {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.headerNav-right li {
  margin-right: 0;
}

/* Traffic Stats */

.traffic-container {
  display: flex;
}
.traffic, .traffic-stats {
  border-bottom: 1px solid #E0E0E0;
}
.daily-traffic {
  border-right: 1px solid #E0E0E0;
  padding-right: 10px;
}
/* Search */

.search {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  margin-right: -10px;
}
.search-bar {
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-align: right;
}
input[name="q"]{
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.1em;
  outline: none;
}
.dashboard-tab {
  border-right: 1px solid #ccc;
  padding-right: 20px;
  padding-top: 20px;
}

/* Alert */

.alert, .alert2, .alert3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 65%;
  height: 40px;
  background-color: #EADF74;
  border-radius: 5px;
  margin-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  color: #808080;
  box-shadow: 2px 2px 2px 1px rgba(51, 51, 51, .2);
}
.alert-p {
  margin-right: auto;
  font-weight: 100;
}
.alert-title {
  margin-right: 20px;
}
button {
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  color: #808080;
  outline: none;
}
.traffic-container {
  margin: 0 auto;
}
.bell:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Social Stats */

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #E0E0E0;
}

.social-container {
  display: flex;
  justify-content: space-around;
  align-self: center;

}
.twitter, .facebook, .googleplus {
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding: 10px;
  margin: 50px;
  width: 15vw;
  text-align: center;
}
.social-stats-container {
  display: inline-block;
  margin-left: 25px;
}
.social-numbers {
  font-size: 2.3em;
  line-height: 0;
  font-weight: 500;
}
.social-stats {
  font-size: 1.5em;
}

/* Members */
.members {
  width: 45%;
}
.members-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #E0E0E0;
}
.memberPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.member-inner {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 15px;
  flex-basis: 50%;
}
.member-info {
  list-style-type: none;
  margin: 0;
}
.member-name {
  margin-left: -15px;
  margin-top: auto;
  margin-bottom: -15px;
}
.member-email {
  margin-left: -15px;
}
.date {
  margin-left: auto;
}
.recent-inner {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 15px;
  flex-basis: 50%;
}
.recent {
  width: 45%;
}

/* Form */
input {
  outline: none;
}
.send {
  background-color: #EADF74;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  color: #fff;
  letter-spacing: 0.0525em;
}
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  outline: none;
}
fieldset {
  border: none;
}
#uname {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
}
select {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  outline: none;
  color: #c0c0c0;
}
.settings-buttons {
  text-align: center;
  margin-top: 20px;
}
.save-button {
    background-color: #ff6384;
    padding: 10px;
    border-radius: 3px;
    width: 30%;
    color: #fff;
    letter-spacing: 0.0525em;
}
.cancel-button {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 3px;
    width: 30%;
    color: #fff;
    letter-spacing: 0.0525em;
    margin-left: 30px;
}
/* Settings */
.settings {
  width: 45%;
}
.settings-inner {
  display: flex;
  flex-direction: column;
}
.option-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.option-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.email-notifications, .profile-privacy {
  width: 50%;
}
.settings-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #E0E0E0;
}
/* Toggle Switch */

.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid transparent; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #3DBA98; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #D9D5D5; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: ;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid transparent; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/* Media Queries */

@media (max-width: 768px) {
  .members-wrapper {
    display: flex;
    flex-direction: column;
  }
  .members {
    width: 95%;
  }
  .recent {
    width: 95%;
  }
  .settings-wrapper {
    display: flex;
    flex-direction: column;
  }
  .search {
    display: none;
  }
  .social-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .twitter {
    width: 55%;
    margin: 0 auto;
  }
  .facebook {
    width: 55%;
    margin-bottom: 5px;
    margin: 0 auto;
  }
  .googleplus {
    width: 55%;
    margin: 0 auto;
  }
  .settings {
    width: 95%;
  }
  .traffic-stats {
    display: flex;
    flex-direction: column;
  }
  .daily-traffic {
    border: none;
    width: 100%;
  }
  .daily-traffic-container {
    height: 160px;
    width: 80vw;
    margin: 0 auto;
  }
  .mobile-users {
    width: 100%;
  }
  .mobile-user-container {
    margin: 0 auto;
  }
}
