html {
  background-color: #3f94a1;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* Grid */

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  color: #808080;
  letter-spacing: 0.0325em;
  font-weight: 300;
}

.container {
  height: 100vh;
  margin-right: -8px;
  margin-left: -8px;
  display: grid;
  grid-template-columns: 80px 10fr;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  background-color: #3f94a1;
}
.main {
    background-color: #fff;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.traffic-stats {
  display: flex;
  flex-direction: row;
}
.daily-traffic, .mobile-users {
  margin: 20px;
  width: 50%;
}
.header {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 10px;
  margin-right: 10px;
}
.aside {
  background-color: #3dba98;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Didact Gothic', sans-serif;
}
.dashboard:hover {
  opacity: .4;
  transition: all .5s;
}
.appName {
  color: #fff;
  font-size: 1.2em;
  font-weight: 100;
}
.trademark {
  color: #fff;
  font-size: 1em;
  font-weight: 100;
}
nav.menu {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
nav .bell {
  padding-right: 10px;
  margin-right: -80px;
}
.headerNav-left {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: -40px;
}
.headerNav-right {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.headerNav-right li {
  margin-right: 0;
}
.traffic, .traffic-stats {
  border-bottom: 1px solid #E0E0E0;
}
.daily-traffic {
  border-right: 1px solid #E0E0E0;
  padding-right: 10px;
}
.asideIcons {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: -45px;
}
.asideIcons li {
  padding-bottom: 10px;
}
.userPhoto {
  border-radius: 50%;
  max-width: 30%;
  margin-right: 10px;
}
.search {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  margin-right: -10px;
}
.search-bar {
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-align: right;
}
input[name="q"]{
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.1em;
  outline: none;
}
.dashboard-tab {
  border-right: 1px solid #ccc;
  padding-right: 20px;
  padding-top: 20px;
}
.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 65%;
  height: 40px;
  background-color: #5dba5e;
  border-radius: 5px;
  margin-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  color: #fff;
}
.alert-p {
  margin-right: auto;
  font-weight: 100;
}
.alert-title {
  margin-right: 20px;
}
button {
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  color: #fff;
  outline: none;
}
.footer {
  height: 5vh;
  padding: 2px;
  color: #fff;
  text-align: center;
}
.bell:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
